body {
  background-color: lightgrey;
}

#StartButton {

}

.kort_spill {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.kort {
  width: 20%;
  height: 28%;
  margin: 5px;
  position: relative;
 
}

.foran, .bak {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
}

.kort.flipped .bak{
  opacity: 0;
}

.bak {
opacity: 0;
}

/* Initially hide the back side of the card */
.kort .bak   {
  opacity: 0;

}

/* When the card is flipped, hide the front side and show the back side */
.kort.flipped .foran {
  opacity: 0;
  display: block;
}

.kort.flipped .bak {
  opacity: 1;
  display: block
  
}




