body {
  background: 
    linear-gradient(135deg, #ffae61, #ff77dd, #9760e6, #7990e6),
    linear-gradient(45deg, #61ffae, #ddff77, #e66097, #e67990);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: content-box;
}

/* Define a perspective for 3D effects on the container */
.kort_spill {
  perspective: 1000px;
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

/* Style the card element */
.kort {
  width: 20%;
  height: 28%;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.7s;
}

/* Define styles for the front and back sides of the card */
.foran, .bak {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  backface-visibility: visible;
}

/* Apply the warp effect when the card is flipped */
.kort.flipped {
  transform: rotateY(180deg);
}

/* Show the front side when the card is flipped */
.kort.flipped .foran {
  display: block;
}

/* Hide the back side when the card is flipped */
.kort.flipped .bak {
  display: none;
}






