/* Body */
body{ 
    background-color: whitesmoke; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Body som er mellom navigasjonsmenyen og den grå bunnteksten*/
.innhold {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 12%;
    padding-bottom: 5%;
}


/* Header skrift "Spillprosjekt" */
#hovedoverskrift {
    font-size: 200px;
    padding-top: 100px;
    padding-bottom: 110px;
}


/* Linkdelen av skriften i headeren */
.hovedoverskriften {
    text-decoration: none;
    color: cornflowerblue;
}

p.solid {
    border-style: solid;
}


/* Hamburgermenyen som dukker opp når vinduet blir for lite */
.navbar-toggler {
    background-color:cornflowerblue;
}


/* Selve navigasjonslinjen */
.navbar {
    background-color: lightgrey;
    padding: 0,5%;
}


/* De ulike boksene i navigasjonsmenyen som linkene ligger oppå */
.nav-item {
    background-color: whitesmoke;
}


/* Linkene i navigasjonsmenyen*/
.nav-link {
    color:black;
}


/* Overskriftene som står over spillene på hovedsiden */
#overskrift1 {
    color:cornflowerblue;
    text-align: center;
}


/* Teksten som er under bildelinkene til spillene */
#linktekst {
    text-align: center;
}


/* "Bodyen" i det nederste grå feltet på nettsiden med informasjon */
#bunntekst {
    text-align: center;
    background-color: lightgrey;
    color: black;
}


/* De to nederste kolonnene nederst, felles */
.infospillgruppe {
     width: 50%;
     box-sizing: border-box; 
     float: left;
}


/* Venstre kolonne nederst*/
.gruppe1 {
    background-color: lightgrey;
}


/* Høyre kolonne nederst */
.gruppe2 {
    background-color: lightgrey;
}