body {
  background: linear-gradient(to top, #87CEEB, #483D8B, #800080); /* Bakgrunnen hovedsiden*/
  height: 100vh; 
}

.hovedoverskriften {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  /* Spillprosjekt overskriften */
  font-size: 180%; 
  color: #f7c80d; 
  text-transform: uppercase; 
  text-shadow: 
      3px 3px 0 #000, 
      5px 5px 0 #000, 
      7px 7px 0 #000; 
      text-decoration: none;

      border: 4px solid #ffffff;
      padding: 7px;
      border-radius: 20px;
      width: 100%;
      text-align: center;
      
      background: 
      rgb(255, 0, 0);
      margin: 1px ; 
}

#info {
border: 4px solid #ffffff;
padding: 1px;
border-radius: 20px;
width: 100%;
text-align: center;

color: #fdfcfc;
background: 
rgb(101, 1, 114);

}
    
/* CSS for image */
#kortbilde {
  border: 2px solid #fbfafa;
  padding: 1px;
  border-radius: 30px;
  width: 60%;
  text-align: center;
  margin: 1px;
  transition: filter 0.3s; /* Add transition for smooth hover effect */
}
  
#kortbilde:hover {
  filter: brightness(70%); /* Adjust brightness when hovered */
}
      
.innhold {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#overskrift1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  /* Spillprosjekt overskriften */
    font-size: 300%; 
    text-align: center;
    color: #cf1616; 
    text-transform: uppercase; 
    text-shadow: 
      3px 3px 0 #000, 
      5px 5px 0 #000, 
      7px 7px 0 #000; 
      text-decoration: none;
}

#overskrift2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  /* Spillprosjekt overskriften */
    font-size: 100%; 
    text-align: center;
    color: #cfad16; 
    text-transform: uppercase; 
    text-shadow: 
      3px 3px 0 #000, 
      5px 5px 0 #000, 
      7px 7px 0 #000; 
      text-decoration: none;
}

#overskrift3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  /* Spillprosjekt overskriften */
    font-size: 150%; 
    text-align: center;
    color: #cfad16; 
    text-transform: uppercase; 
    text-shadow: 
      3px 3px 0 #000, 
      5px 5px 0 #000, 
      7px 7px 0 #000; 
      text-decoration: none;
}

#bunntekst {
    text-align: center;
    background-color: lightgrey;
    color: black;
}

.infospillgruppe {
     width: 50%;
     box-sizing: border-box; 
     float: left;
}

.gruppe1 {
    background-color: lightgrey;
}

.gruppe2 {
    background-color: lightgrey;
}

#time {
    font-size: 24px; 
    color: #333; 
    background-color: #fff; 
    border: 2px solid #000; 
    padding: 10px;
    border-radius: 4px; 
    width: fit-content;
}

#toggleButton {
height: 60px;
width: 250px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  /* Rules and info knappen */
    font-size: 200%; 
    text-align: center;
    color: #cf1616; 
    text-transform: uppercase; 
    text-shadow: 
      3px 3px 0 #000, 
      5px 5px 0 #000, 
      7px 7px 0 #000; 

border: 2px solid #ffffff;
padding: 1px;
border-radius: 20px;
color: #fdfcfc;
background: 
rgb(101, 1, 114);
}
