body {
  background: 
    linear-gradient(135deg, #ffae61, #ff77dd, #9760e6, #7990e6),
    linear-gradient(45deg, #61ffae, #ddff77, #e66097, #e67990);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: content-box;
}

.kort_spill {
  min-width: 350px;
  max-width: 600px;
  width: 65vw;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 9%;
}

.kort {
  width: 9vw;
  height: 25vh;
  min-width: 84px;
  min-height: 100px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.foran, .bak {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  backface-visibility: hidden;
}

.kort .foran {
transform: rotateY(180deg);
}

.kort .bak {
transform: rotateY(0deg);
transition: opacity 0.25s 0.25s;
}

.bak {
opacity: 1;
transform: rotateY(180deg);
}

.kort.flipped {
opacity: 1;
transform: rotateY(180deg);
}

.container{
  display:flex;
  flex-direction:column;
  justify-content: left;
  height: 40vh;
  width: 125px;
  position:absolute;
  top: 5%;
  }

#time, #leaderboard, #newGame {
  font-size: 2em;
  border: 2px solid #ffffff;
  padding: 1px;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 8px 3px 5px #888;
  color: #fdfcfc;
  background: 
  linear-gradient(135deg, #de6f06, #ff77dd, #9760e6, #7990e6),
  linear-gradient(45deg, #61ffae, #ddff77, #e66097, #e67990);
  text-decoration-style: double;
  margin: 10px 0; /* Adds vertical spacing between the elements */
}
/* 
#time {
  font-size: 50px;
  color: #fdfcfc;
  background: 
  linear-gradient(135deg, #de6f06, #ff77dd, #9760e6, #7990e6),
  linear-gradient(45deg, #61ffae, #ddff77, #e66097, #e67990);
  border: 2px solid #ffffff;
  padding: 1px; 
  border-radius: 20px;
  width: 70%;
  text-align: center;
  box-shadow: 8px 3px 5px #888;
  text-decoration-style: double;
}

#leaderboard {
  background: 
  linear-gradient(135deg, #ffae61, #ff8e77, #e66060, #dfe679),
  linear-gradient(45deg, #61ffdd, #ffdf77, #e66260, #797de6);
  width: 70%; 
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #ffffff;
  padding: 1px; 
  border-radius: 10px;
  text-align: center;
  box-shadow: 8px 3px 5px #888;
  text-decoration-style: double;
}

#newGame {
  background: 
  linear-gradient(135deg, #de6f06, #ff77dd, #9760e6, #7990e6),
  linear-gradient(45deg, #61ffae, #ddff77, #e66097, #e67990);
  border: 2px solid #ffffff;
  padding: 5px; 
  border-radius: 20px;
  width: 70%;
  text-align: center;
  box-shadow: 8px 3px 5px #888;
  text-decoration-style: double;
  transform: translate(-50%, -50%);
  color: black;
} */

h3 {
  font-size: 20px; 
  text-align: center; 
}

ol {
  list-style: decimal; 
  padding: 0; 
}

li {
  font-size: 16px; 
  margin: 10px 0; 
  text-align: center;
}


#startside{
  font-size: 100%;
  color: #fdfcfc;
  width: auto;
  text-align: center;

  position: absolute;
  

}

