body {
    background-color: lightgrey;
  }
  
#StartButton {

}

.kort_spill {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

.kort {
    width: 25%;
    height: 33.333%;
    margin: 5px;
    position: relative;
}

.foran, .bak {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
}

.kort.flipped .bak{
    opacity: 0;
}
  